<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alphagoldteamsquadron.com.binaryfun" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BinaryToDecimal"
            android:label="@string/title_activity_binary_to_decimal"
            android:screenOrientation="userLandscape">
        </activity>
        <activity
            android:name=".BinaryAdder"
            android:label="@string/title_activity_binary_adder"
            android:screenOrientation="userLandscape">
        </activity>
        <activity
            android:name=".HighScores"
            android:label="@string/title_activity_high_scores" >
        </activity>
        <activity
            android:name=".BooleanFun"
            android:label="@string/title_activity_boolean_fun"
            android:screenOrientation="userPortrait">
        </activity>
        <activity
            android:name=".LearnBinary"
            android:label="@string/title_activity_learn_binary">
        </activity>
        <activity
            android:name=".LearnRepresentations"
            android:label="@string/title_activity_learn_representations">
        </activity>
        <activity
            android:name=".LearnArithmetic"
            android:label="@string/title_activity_learn_arithmetic">
        </activity>
        <activity
            android:name=".LearnLogic"
            android:label="@string/title_activity_learn_logic">
        </activity>
    </application>

</manifest>
